bertopic==0.16.0
gensim==4.3.2
hdbscan==0.8.33
keras==2.12.0
keybert==0.8.4
kmapper==2.0.1
lxml
matplotlib==3.8.2
networkx==2.6.3
nltk==3.8.1
numpy==1.22.4
pandas==1.5.3
plotly==5.18.0
scikit-learn==1.3.0
scipy==1.7.3
seaborn==0.13.1
sentence-transformers==2.2.2
spacy==2.3.8
tensorflow==2.12.0
thefuzz==0.22.1
tqdm==4.66.1
transformers==4.36.2
umap-learn==0.5.5